$background-color: #dddddd;
$color: #000000;

body {
  overflow-x: hidden;
  font-family: "Helvetica", "Arial", "FreeSans", "Verdana", "Tahoma",
    "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
}

.min-content-height {
  min-height: 81vh;
}

.headerColour {
  background-color: lightskyblue;
}

.nav-bar-menu {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 14vh;
}

.content {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.center-box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 50%;
  text-align: center;
}

.search-bar {
  display: flex;
  align-items: center;
}

.articles-img {
  width: 100%;
}

.defaultBtn {
  background-color: #3fa8ff !important;
  color: #fff !important;
  text-transform: none !important;
}

.article-details-nav-btn {
  color: #3fa8ff !important;
  text-align: right;
  cursor: pointer;
  font-weight: bold;
}

.align-icons {
  display: flex;
  justify-content: center;
  color: #81a5bb;
}

.loader {
  text-align: center;
  padding: 350px;
}

.footer {
  bottom: 0;
  width: 100%;
  min-height: 5vh;
  background: #3f3fff;
  margin-top: auto;
}

.galleryImg {
  width: 50%;
  height: 50%;
}

.btnWidth {
  width: 125px;
}
