$background-color: #dddddd;
$color: #000000;


body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.headerColour {
  background-color: lightskyblue;
}

.navBarMenu {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.content {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.articleBox {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 50%;
  text-align: center;
}

.searchBar {
  display: flex;
  align-items: center;
}

.articleImg {
  width: 100%;
}

.defaultBtn {
  background-color: #3fa8ff !important;
  color: #fff !important;
  text-transform: none !important;
}

.articleDetailsNavBtn {
  color: #3fa8ff !important;
  text-align: right;
  cursor: pointer;
  font-weight: bold;
}

.alignIcons {
  display: flex;
  justify-content: center;
  color: #81a5bb;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 40px;
  background: #3f3fff;
}
